{% extends "base.html" %} {% block content %}
<div class="container mt-5">
  <h3>Welcome to live feed</h3>
  <div class="row">
  </div>
  <img id="feed"/>
</div>

{% block js_script %}
<script>

  function establishWebSocketConnection() {
    const socket = new WebSocket("ws://" + window.location.host + "/ws/feed");
    
    socket.onopen = function(event) {
        console.log('WebSocket connection established');
    };
    
    socket.onmessage = function(event) {
      var imgData = event.data.slice(1);
      imgData = imgData.slice(1);
      imgData = imgData.slice(0, -1);
      document.getElementById("feed").src = "data:image/png;base64," + imgData;
    };
    
    socket.onclose = function(event) {
        console.log('WebSocket connection closed');
    };
  }
  window.addEventListener('load', establishWebSocketConnection);


</script>
{% endblock %} {% endblock %}
